h1{
  color: red;
  background-color: cyan;
} 
.yellow{
  color: yellow;
}
.red-background{
  background-color: red;
}
p{
  color:blue;
}
strong{
  background-color: yellow;
}
em{
  background-color: red;
}
#example{
  background-color: green;
}


 
